

.subjectHeader {
  color: red;
  font-family: sans-serif;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}
th {
  color: blue;
}
#teamRoster li:first-child{
  background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#teamRoster li:last-child{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
#teamRoster img{
  display: none;
}

#teamRoster li{
  list-style-type: square;
}

#checkbox-grid {
  list-style-type: none;
}

a:hover {
  color: red;
}
a {
  text-decoration: none;
}

blockquote {
  background-color: black;
  color: white;
}
